# Секретні дані
.env

# База даних (векторне сховище)
db/

# Системні файли Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Віртуальне середовище (на майбутнє, якщо вирішиш повернутися)
.venv/
venv/
env/

# Файли даних (якщо не хочеш пушити свій PDF)
my_data.pdf